<div id="index_content">
 <h1><?= $this->translate->_("title"); ?></h1>
 <p><?= $this->translate->_("numeric_data_sponsors",["sponsors"=>$sponsors]); ?></p>
 <p><?= $this->translate->_("numeric_data_donates",["donates"=>$donates]); ?></p>
 <p><?= $this->translate->_("numeric_data_donates_sum",["donates_sum"=>$donates_sum]); ?></p>
</div>
