<div id="login_content">
 <h1><?= $this->translate->_("sign_in"); ?></h1>
 <div id="login_validationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <?= $this->tag->form([$form->getAction(),"method"=>"post","id"=>"login_loginForm"]); ?>
  <div id="login_usernameField">
   <label for="login_username"><?= $form->getLabel("username"); ?></label>
   <?= $form->render("username"); ?>
  </div>
  <div id="login_passwordField">
   <label for="login_password"><?= $form->getLabel("password"); ?></label>
   <?= $form->render("password"); ?>
  </div>
  <div id="login_csrfField"><?= $form->render("csrf"); ?></div>
  <div id="login_submition"><?= $form->render($this->translate->_("login_form_submit")); ?></div>
 <?= $this->tag->endForm(); ?>
</div>