<div id="editSponsor_content">
 <h1><?= $this->translate->_("sponsor_edition"); ?></h1>
 <div id="editSponsor_validationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <?= $this->tag->form([$form->getAction(),"method"=>"post","id"=>"editSponsor_editSponsorForm"]); ?>
  <div id="editSponsor_nameField">
   <label for="editSponsor_name"><?= $form->getLabel("name"); ?></label>
   <?= $form->render("name"); ?>
  </div>
  <div id="editSponsor_surnameField">
   <label for="editSponsor_surname"><?= $form->getLabel("surname"); ?></label>
   <?= $form->render("surname"); ?>
  </div>
  <div id="editSponsor_nicknameField">
   <label for="editSponsor_nickname"><?= $form->getLabel("nickname"); ?></label>
   <?= $form->render("nickname"); ?>
  </div>
  <div id="editSponsor_emailField">
   <label for="editSponsor_email"><?= $form->getLabel("email"); ?></label>
   <?= $form->render("email"); ?>
  </div>
  <div id="editSponsor_streetField">
   <label for="editSponsor_street"><?= $form->getLabel("street"); ?></label>
   <?= $form->render("street"); ?>
  </div>
  <div id="editSponsor_postcodeField">
   <label for="editSponsor_postcode"><?= $form->getLabel("postcode"); ?></label>
   <?= $form->render("postcode"); ?>
  </div>
  <div id="editSponsor_cityField">
   <label for="editSponsor_city"><?= $form->getLabel("city"); ?></label>
   <?= $form->render("city"); ?>
  </div>
  <div id="editSponsor_csrfField"><?= $form->render("csrf"); ?></div>
  <div id="editSponsor_submition"><?= $form->render($this->translate->_("editSponsor_form_submit")); ?></div>
 <?= $this->tag->endForm(); ?>
</div>
