<div id="sponsorsIndex_content">
 <h1><?= $this->translate->_("navigation_sponsors"); ?> (<?= $page->total_items; ?>)</h1>
 <div id="sponsorsIndex_notificationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <p><?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_newSponsor"]),$this->translate->_("add_new_sponsor"),"id"=>"sponsorsIndex_addNewSponsor"]); ?></p>
 <span id="sponsorsIndex_listInfo">
  <?php if($page->total_items>0): ?>
   <?= $this->translate->_("sponsors_list"); ?> <?= $this->translate->_("pagination_status",["current_page"=>$page->current,"total_pages"=>$page->total_pages]); ?>
  <?php else: ?>
   <?= $this->translate->_("no_sponsors"); ?>
  <?php endif; ?>
 </span>
 <?php if($page->total_items>0): ?>
  <div id="sponsorsIndex_search">
   <?= $this->tag->form([$form->getAction(),"method"=>"post","id"=>"sponsorsIndex_searchForm"]); ?>
    <label for="phrase"><?= $form->getLabel("phrase"); ?></label>
    <?= $form->render("phrase"); ?>
    <?= $form->render("csrf"); ?>
    <?= $form->render($this->translate->_("search_form_submit")); ?>
    <?php if($this->session->has("results")): ?><p><?= $this->translate->_("search_status",["found"=>$page->total_items]); ?></p><?php endif; ?>
   <?= $this->tag->endForm(); ?>
  </div>
  <span id="sponsorsIndex_sortingBar">
   <label><?= $this->translate->_("sort"); ?></label>
   <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_sponsorsSorting","sort_type"=>"name"]),$this->translate->_("form_name_placeholder"),"id"=>"sponsorsIndex_sortingName"]); ?>
   <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_sponsorsSorting","sort_type"=>"surname"]),$this->translate->_("form_surname_placeholder"),"id"=>"sponsorsIndex_sortingSurname"]); ?>
   <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_sponsorsSorting","sort_type"=>"nickname"]),$this->translate->_("form_nickname_placeholder"),"id"=>"sponsorsIndex_sortingNickname"]); ?>
  </span>
  <?= $this->tag->form([$this->url->get(["for"=>"sinor_deleteSponsors"]),"method"=>"post","id"=>"sponsorsIndex_multipleDeleteForm"]); ?>
  <table>
   <thead>
    <tr>
     <th><?= $this->translate->_("#"); ?></th>
     <th><?= $this->translate->_("form_name_placeholder"); ?></th>
     <th><?= $this->translate->_("form_surname_placeholder"); ?></th>
     <th><?= $this->translate->_("form_nickname_placeholder"); ?></th>
     <th><?= $this->translate->_("actions"); ?></th>
    </tr>
   </thead>
   <tbody>
    <?php for($i=0;$i<count($page->items);$i++): ?>
     <tr>
      <td><?= $i+1; ?></td>
      <td><?php if($page->items[$i]->name): ?><?= $page->items[$i]->name; ?><?php else: ?><?= $this->translate->_("lack"); ?><?php endif; ?></td>
      <td><?php if($page->items[$i]->surname): ?><?= $page->items[$i]->surname; ?><?php else: ?><?= $this->translate->_("lack") ?><?php endif; ?></td>
      <td><?php if($page->items[$i]->email): ?><a href="mailto:<?= $page->items[$i]->email; ?>"><?= $page->items[$i]->nickname; ?></a><?php else: ?><?= $page->items[$i]->nickname; ?><?php endif; ?></td>
      <td>
       <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_viewSponsor","sponsor_id"=>$page->items[$i]->id]),$this->translate->_("view_item"),"id"=>"sponsorsIndex_viewSponsor_".$page->items[$i]->nickname]); ?><br/>
       <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_editSponsor","sponsor_id"=>$page->items[$i]->id]),$this->translate->_("edit_item"),"id"=>"sponsorsIndex_editSponsor_".$page->items[$i]->nickname]); ?><br/>
       <?= $this->tag->checkField(["sponsors[]","value"=>$page->items[$i]->id]); ?><?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_deleteSponsor","sponsor_id"=>$page->items[$i]->id]),$this->translate->_("delete_item"),"id"=>"sponsorsIndex_deleteSponsor_".$page->items[$i]->nickname]); ?>
      </td>
     </tr>
    <?php endfor; ?>
   </tbody>
  </table>
  <?= $this->tag->endForm(); ?>
  <?php if($page->total_pages>1): ?>
   <span id="sponsorsIndex_paginationBar">
    <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_sponsorsPagination","page_number"=>$page->first]),$this->translate->_("pagination_first"),"id"=>"sponsorsIndex_paginationFirst"]); ?>
    <?php if($page->current!=1): ?><?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_sponsorsPagination","page_number"=>$page->before]),$this->translate->_("pagination_previous"),"id"=>"sponsorsIndex_paginationPrevious"]); ?><?php endif; ?>  <?= $page->current; ?>  
    <?php if($page->current!=$page->last): ?>
     <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_sponsorsPagination","page_number"=>$page->next]),$this->translate->_("pagination_next"),"id"=>"sponsorsIndex_paginationNext"]); ?>
     <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_sponsorsPagination","page_number"=>$page->last]),$this->translate->_("pagination_last"),"id"=>"sponsorsIndex_paginationLast"]); ?>
    <?php endif; ?>
   </span>
  <?php endif; ?>
 <?php endif; ?>
</div>
