<div id="newSponsor_content">
 <h1><?= $this->translate->_("sponsor_addition"); ?></h1>
 <div id="newSponsor_validationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <?= $this->tag->form([$form->getAction(),"method"=>"post","id"=>"newSponsor_newSponsorForm"]); ?>
  <div id="newSponsor_nameField">
   <label for="newSponsor_name"><?= $form->getLabel("name"); ?></label>
   <?= $form->render("name"); ?>
  </div>
  <div id="newSponsor_surnameField">
   <label for="newSponsor_surname"><?= $form->getLabel("surname"); ?></label>
   <?= $form->render("surname"); ?>
  </div>
  <div id="newSponsor_nicknameField">
   <label for="newSponsor_nickname"><?= $form->getLabel("nickname"); ?></label>
   <?= $form->render("nickname"); ?>
  </div>
  <div id="newSponsor_emailField">
   <label for="newSponsor_email"><?= $form->getLabel("email"); ?></label>
   <?= $form->render("email"); ?>
  </div>
  <div id="newSponsor_streetField">
   <label for="newSponsor_street"><?= $form->getLabel("street"); ?></label>
   <?= $form->render("street"); ?>
  </div>
  <div id="newSponsor_postcodeField">
   <label for="newSponsor_postcode"><?= $form->getLabel("postcode"); ?></label>
   <?= $form->render("postcode"); ?>
  </div>
  <div id="newSponsor_cityField">
   <label for="newSponsor_city"><?= $form->getLabel("city"); ?></label>
   <?= $form->render("city"); ?>
  </div>
  <div id="newSponsor_csrfField"><?= $form->render("csrf"); ?></div>
  <div id="newSponsor_submition"><?= $form->render($this->translate->_("newSponsor_form_submit")); ?></div>
 <?= $this->tag->endForm(); ?>
</div>
