<div id="sponsorsShow_content">
 <h1><?= $this->translate->_("view_sponsor"); ?></h1>
 <ul id="sponsorsShow_basicData">
  <li><?= $this->translate->_("form_name_placeholder"); ?>: <?php if($sponsor->name): ?><?= $sponsor->name; ?><?php else: ?><?= $this->translate->_("lack"); ?><?php endif; ?></li>
  <li><?= $this->translate->_("form_surname_placeholder"); ?>: <?php if($sponsor->surname): ?><?= $sponsor->surname; ?><?php else: ?><?= $this->translate->_("lack"); ?><?php endif; ?></li>
  <li><?= $this->translate->_("form_nickname_placeholder"); ?>: <?= $sponsor->nickname; ?></li>
  <li><?= $this->translate->_("form_email_placeholder"); ?>: <?php if($sponsor->email): ?><a href="mailto:<?= $sponsor->email; ?>"><?= $sponsor->email; ?></a><?php else: ?><?= $this->translate->_("lack"); ?><?php endif; ?></li>
 </ul>
 <?php if($sponsor->street && $sponsor->postcode && $sponsor->city): ?>
  <h2><?= $this->translate->_("address"); ?></h2>
  <address id="sponsorsShow_address">
   <?= $this->translate->_("street_short"); ?> <?= $sponsor->street; ?><br/>
   <?= $sponsor->postcode; ?> <?= $sponsor->city; ?>
  </address>
 <?php endif; ?>
 <?php if(count($donations)>0): ?>
  <h2><?= $this->translate->_("sponsor_donations"); ?>
  <table id="sponsorsShow_donations";
   <thead>
    <tr>
     <th><?= $this->translate->_("#"); ?></th>
     <th><?= $this->translate->_("donation_date"); ?></th>
     <th><?= $this->translate->_("donation_amount"); ?></th>
    </tr>
   </thead>
   <tbody>
    <?php for($i=0;$i<count($donations);$i++): ?>
     <tr>
      <td><?= $i+1; ?></td>
      <td><?= $donations[$i]->donated ?></td>
      <td><?= $donations[$i]->amount; ?></td>
     </tr>
    <?php endfor; ?>
   </tbody>
  </table>
  <span><?= $this->translate->_("donation_summary",["donation_count"=>count($donations),"donation_amount"=>$donation_amount]); ?></span>
 <?php endif; ?>
</div>
