<div id="editUser_content">
 <h1><?= $this->translate->_("user_edition"); ?></h1>
 <div id="editUser_validationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <?= $this->tag->form([$form->getAction(),"method"=>"post","id"=>"editUser_editUserForm"]); ?>
  <div id="editUser_usernameField">
   <label for="editUser_username"><?= $form->getLabel("username"); ?></label>
   <?= $form->render("username"); ?>
  </div>
  <div id="editUser_emailField">
   <label for="editUser_email"><?= $form->getLabel("email"); ?></label>
   <?= $form->render("email"); ?>
  </div>
  <div id="editUser_csrfField"><?= $form->render("csrf"); ?></div>
  <div id="editUser_submition"><?= $form->render($this->translate->_("editUser_form_submit")); ?></div>
 <?= $this->tag->endForm(); ?>
</div>