<div id="usersIndex_content">
 <h1><?= $this->translate->_("navigation_users"); ?> (<?= $users_amount; ?>)</h1>
 <div id="usersIndex_notificationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <p><?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_newUser"]),$this->translate->_("add_new_user"),"id"=>"usersIndex_addNewUser"]); ?></p>
 <span id="usersIndex_listInfo">
  <?php if($users_amount>0): ?>
   <?= $this->translate->_("users_list"); ?>
  <?php else: ?>
   <?= $this->translate->_("no_users"); ?>
  <?php endif; ?>
 </span>
 <?php if($users_amount>0): ?>
  <?= $this->tag->form([$this->url->get(["for"=>"sinor_deleteUsers"]),"method"=>"post","id"=>"usersIndex_multipleDeleteForm"]); ?>
  <table>
   <thead>
    <tr>
     <th><?= $this->translate->_("#"); ?></th>
     <th><?= $this->translate->_("form_username_placeholder"); ?></th>
     <th><?= $this->translate->_("form_email_placeholder"); ?></th>
     <th><?= $this->translate->_("actions"); ?></th>
    </tr>
   </thead>
   <tbody>
    <?php for($i=0;$i<$users_amount;$i++): ?>
     <tr>
      <td><?= $i+1; ?></td>
      <td><?= $users[$i]->username; ?></td>
      <td><?php if($users[$i]->email): ?><a href="mailto:<?= $users[$i]->email; ?>"><?= $users[$i]->email; ?></a><?php else: ?><?= $this->translate->_("lack"); ?><?php endif; ?></td>
      <td>
       <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_editUser","user_id"=>$users[$i]->id]),$this->translate->_("edit_item"),"id"=>"usersIndex_editUser_".$users[$i]->username]); ?><br/>
       <?= $this->tag->checkField(["users[]","value"=>$users[$i]->id]); ?><?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_deleteUser","user_id"=>$users[$i]->id]),$this->translate->_("delete_item"),"id"=>"usersIndex_deleteUser_".$users[$i]->username]); ?>
      </td>
     </tr>
    <?php endfor; ?>
   </tbody>
  </table>
  <?= $this->tag->endForm(); ?>
 <?php endif; ?>
</div>
