<div id="newUser_content">
 <h1><?= $this->translate->_("user_addition"); ?></h1>
 <div id="newUser_validationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <?= $this->tag->form([$form->getAction(),"method"=>"post","id"=>"newUser_newUserForm"]); ?>
  <div id="newUser_usernameField">
   <label for="newUser_username"><?= $form->getLabel("username"); ?></label>
   <?= $form->render("username"); ?>
  </div>
  <div id="newUser_passwordField">
   <label for="newUser_password"><?= $form->getLabel("password"); ?></label>
   <?= $form->render("password"); ?>
  </div>
  <div id="newUser_emailField">
   <label for="newUser_email"><?= $form->getLabel("email"); ?></label>
   <?= $form->render("email"); ?>
  </div>
  <div id="newUser_csrfField"><?= $form->render("csrf"); ?></div>
  <div id="newUser_submition"><?= $form->render($this->translate->_("newUser_form_submit")); ?></div>
 <?= $this->tag->endForm(); ?>
</div>