<div id="editDonate_content">
 <h1><?= $this->translate->_("donate_edition"); ?></h1>
 <div id="editDonate_validationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <?= $this->tag->form([$form->getAction(),"method"=>"post","id"=>"editDonate_editDonateForm"]); ?>
  <div id="editDonate_donatedField">
   <label for="editDonate_donated"><?= $form->getLabel("donated"); ?></label>
   <?= $form->render("donated"); ?>
  </div>
  <div id="editDonate_amountField">
   <label for="editDonate_amount"><?= $form->getLabel("amount"); ?></label>
   <?= $form->render("amount"); ?>
  </div>
  <div id="editDonate_sponsorField">
   <label for="editDonate_sponsor"><?= $form->getLabel("sponsor"); ?></label>
   <?= $form->render("sponsor"); ?>
  </div>
  <div id="editDonate_csrfField"><?= $form->render("csrf"); ?></div>
  <div id="editDonate_submition"><?= $form->render($this->translate->_("editDonate_form_submit")); ?></div>
 <?= $this->tag->endForm(); ?>
</div>
