<div id="donatesIndex_content">
 <h1><?= $this->translate->_("navigation_donates"); ?> (<?= $donates_amount; ?>)</h1>
 <div id="donatesIndex_notificationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <p><?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_newDonate"]),$this->translate->_("add_new_donate"),"id"=>"donatesIndex_addNewDonate"]); ?></p>
 <span id="donatesIndex_listInfo">
  <?php if($donates_amount>0): ?>
   <?= $this->translate->_("donates_list"); ?>
  <?php else: ?>
   <?= $this->translate->_("no_donates"); ?>
  <?php endif; ?>
 </span>
 <?php if($donates_amount>0): ?>
  <?= $this->tag->form([$this->url->get(["for"=>"sinor_deleteDonates"]),"method"=>"post","id"=>"donatesIndex_multipleDeleteForm"]); ?>
   <table>
    <thead>
     <tr>
      <th><?= $this->translate->_("#"); ?></th>
      <th><?= $this->translate->_("form_donated_placeholder"); ?></th>
      <th><?= $this->translate->_("form_amount_placeholder"); ?></th>
      <th><?= $this->translate->_("form_sponsor_placeholder"); ?></th>
      <th><?= $this->translate->_("actions"); ?></th>
     </tr>
    </thead>
    <tbody>
     <?php for($i=0;$i<count($donates);$i++): ?>
      <tr>
       <td><?= $i+1; ?></td>
       <td><?= $donates[$i]->donated; ?></td>
       <td><?= $donates[$i]->amount; ?></td>
       <td><?= $donates[$i]->__get("Sinor\Model\Sponsors")->nickname; ?></td>
       <td>
        <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_editDonate","donate_id"=>$donates[$i]->id]),$this->translate->_("edit_item"),"id"=>"donatesIndex_editDonate_".$donates[$i]->id]); ?><br/>
        <?= $this->tag->checkField(["donates[]","value"=>$donates[$i]->id]); ?> <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_deleteDonate","donate_id"=>$donates[$i]->id]),$this->translate->_("delete_item"),"id"=>"donatesIndex_deleteDonate_".$donates[$i]->id]); ?>
       </td>
      </tr>
     <?php endfor; ?>
    </tbody>
   </table>
  <?= $this->tag->endForm(); ?>
 <?php endif; ?>
</div>
