<div id="newDonate_content">
 <h1><?= $this->translate->_("donate_addition"); ?></h1>
 <div id="newDonate_validationMessages">
  <?php $this->flashSession->output(); ?>
 </div>
 <?= $this->tag->form([$form->getAction(),"method"=>"post","id"=>"newDonate_newDonateForm"]); ?>
  <div id="newDonate_donatedField">
   <label for="newDonate_donated"><?= $form->getLabel("donated"); ?></label>
   <?= $form->render("donated"); ?>
  </div>
  <div id="newDonate_amountField">
   <label for="newDonate_amount"><?= $form->getLabel("amount"); ?></label>
   <?= $form->render("amount"); ?>
  </div>
  <div id="newDonate_sponsorField">
   <label for="newDonate_sponsor"><?= $form->getLabel("sponsor"); ?></label>
   <?= $form->render("sponsor"); ?>
  </div>
  <div id="newDonate_csrfField"><?= $form->render("csrf"); ?></div>
  <div id="newDonate_submition"><?= $form->render($this->translate->_("newDonate_form_submit")); ?></div>
 <?= $this->tag->endForm(); ?>
</div>
