<?= $this->tag->getDoctype(); ?>
<html>
 <head>
  <?php $this->assets->outputJs(); ?>
  <?= $this->tag->getTitle(); ?>
 </head>
 <body>
  <div id="logo">Logo</div>
  <?php if($this->session->has("access")): ?>
   <span id="navigation_navigationBar">
    <?php if($this->session->get("access")["username"]==="admin"): ?>
     <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_users"]),$this->translate->_("navigation_users"),"id"=>"navigation_users"]); ?>
    <?php endif; ?>
    <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_sponsors"]),$this->translate->_("navigation_sponsors"),"id"=>"navigation_sponsors"]); ?>
    <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_donates"]),$this->translate->_("navigation_donates"),"id"=>"navigation_donates"]); ?>
   </span>
   <p id="navigation_loginInfo"><?= $this->translate->_("login_info",["username"=>$this->session->get("access")["username"]]); ?> ( <?= $this->tag->linkTo([$this->url->get(["for"=>"sinor_logout"]),$this->translate->_("navigation_logout"),"id"=>"navigation_logout"]); ?> ).</p>
  <?php endif; ?>
  <?= $this->getContent(); ?>
  <hr/>
 </body>
</html>
